:root {
  /*-------Primary--colors-----*/
  --background: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );

  /*-----Neutral-colors----------*/
  --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
  --Light-Grayish-Blue: hsl(234, 14%, 74%);
  --Grayish-Blue: hsl(233, 13%, 49%);
  --DarkGrayish-Blue: hsl(232, 13%, 33%);
  font-family: "Montserrat";
}

/*//////////////////////////////////////////////*/
/*-------STYLE--&--PROPERTIS--OF--SELECTORS----*/
/*////////////////////////////////////////////*/

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Montserrat";
  background-color: var(--Very-Light-Grayish-Blue);
}

h1 {
  color: var(--DarkGrayish-Blue);
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

h2 {
  color: var(--Grayish-Blue);
  font-size: 31px;
  padding-bottom: 50px;
  margin: 0;
}

h3 {
  color: var(--Grayish-Blue);
  padding: 30px;
  padding-bottom: 15px;
  margin-bottom: 0;
}

p {
  color: var(--Grayish-Blue);
}
span {
  color: var(--Light-Grayish-Blue);
  font-size: 15px;
}
.dolar {
  font-size: 40px;
  color: var(--DarkGrayish-Blue);
  margin-right: 8px;
  display: flex;
  align-items: center;
}

hr {
  width: 265px;
  border-color: rgba(249, 247, 247, 0.532);
}
/*////////////////////////////////////////////*/
/*--------------HEADER---SECTION-------------*/
/*//////////////////////////////////////////*/
.Header-Toggle {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--background);
  transition: 0.4s;
  border-radius: 34px;
}

.switch input {
  display: none;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 2.8px;
  bottom: 4px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50px;
}

input:checked + .slider {
  background: hsl(236, 72%, 85%);
}

input:checked + .slider:before {
  transform: translateX(30px);
}

.switch-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*/////////////////////////////////////////*/
/*------------CARDS----SECTION------------*/
/*//////////////////////////////////////*/
.toglle-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 411px;
  height: auto;
  background: url(/images/bg-top.svg), url(/images/bg-bottom.svg);
  background-size: auto;
  background-position: right -450% top -3%, left bottom -25%;
  background-repeat: no-repeat, no-repeat;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.Basic {
  background-color: white;
  width: 325px;
  height: 445px;
  border-radius: 10px;
  box-shadow: 8px 8px 30px #272b2730;
  margin-top: 15px;
}

.Professional {
  background: var(--background);
  width: 325px;
  height: 445px;
  border-radius: 10px;
  box-shadow: 8px 8px 30px #272b2730;
  margin-bottom: 10px;
}

.Professional h3,
.Professional h1,
.Professional span,
.Professional p {
  color: var(--Very-Light-Grayish-Blue);
}

.Professional button {
  color: hsl(237, 63%, 64%);
  background: var(--Very-Light-Grayish-Blue);
}

.Master {
  background-color: white;
  width: 325px;
  height: 445px;
  border-radius: 10px;
  box-shadow: 8px 8px 30px #272b2730;
  margin-top: 15px;
}
/*///////////////////////////////////////////*/
/*------------BUTTOM--SECTION---------------*/
/*//////////////////////////////////////////*/
button {
  background: var(--background);
  border-style: hidden;
  border-radius: 5px;
  height: 43px;
  width: 265px;
  letter-spacing: 1px;
  font-size: 12px;
  font-family: "Montserrat";
  text-transform: uppercase;
  color: var(--Very-Light-Grayish-Blue);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 30px;
}

button:hover {
  color: hsl(237, 63%, 64%);
  background: white;
  border-color: hsl(237, 63%, 64%);
  border-style: solid;
  border-width: thin;
  cursor: pointer;
}

.Professional button:hover {
  color: white;
  background: var(--background);
  border-color: white;
  border-style: solid;
  border-width: thin;
}
/*//////////////////////////////////////*/
/*--------------FOOTER-----------------*/
/*////////////////////////////////////*/

footer {
  margin-top: 20px;
}

@media only screen and (min-width: 376px) and (max-width: 1440px) {
  .Header-Toggle {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 50px;
  }

  .cards-container {
    display: flex;
    flex-direction: row;
  }
  .toglle-container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    height: 750px;
    justify-content: center;
    background-position: right 2% top -30%, left bottom -15%;
    background-repeat: no-repeat, no-repeat;
  }

  .Basic {
    width: 325px;
  }

  .Basic h3 {
    margin-top: 2px;
  }

  .Professional {
    width: 325px;
    height: 480px;
    border-radius: 10px;
  }

  .Master {
    width: 325px;
  }

  .Master h3 {
    margin-top: 2px;
  }
}
